.root__page {
  margin: 0;
}

.page {
  font-family: Roboto, system-ui, sans-serif;
  font-size: 1.5rem;
}

.img {
  max-width: 100%;
  height: auto;
  font-style: italic;
}

.container {
  padding: 1rem;
}

.header__figure {
  position: relative;
  margin: 1rem;
}

.header__img {
  box-shadow: 0 0 20px hsla(0deg 0 0 / 50%);
  max-height: 750px;
}

.header__figcaption {
  position: absolute;
  bottom: 0;
  padding: 0.1em;
  text-shadow: 0 0 5px hsla(0deg 0 0 / 50%);
  color: white;
  font-family: 'Playfair Display', system-ui, sans-serif;
  font-size: 50px;
}

.header {
  color: #555;
}

.header__title {
  text-align: center;
  font-family: 'Playfair Display', system-ui, sans-serif;
}

.socials {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.header__icon {
  width: 1.5em;
}

.main__title {
  text-align: center;
  font-family: 'Playfair Display', system-ui, sans-serif;
  font-size: 2em;
}

.main__card {
  margin: 1em 0;
}

.card {
  box-shadow: 0 0 15px -5px hsla(0deg 0 0 / 70%);
}

.card__details {
  padding: 0.5em;
}

.card__head {
  display: flex;
  justify-content: space-between;
}

.card__body {
  color: #565656;
}

.card__name {
  margin: 0;
  margin-left: 0.5em;
  text-align: center;
  font-family: 'Playfair Display', system-ui, sans-serif;
  font-weight: normal;
}

.card__actions {
  display: flex;
  gap: 0.5em;
}

.card__icon {
  width: 1em;
}

.card__thumbnail {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
  padding: auto;
  padding: 1em;
  min-height: 300px;
  color: white;
  font-family: 'Playfair Display', system-ui, sans-serif;
  font-size: 1.5em;
}

/* stylelint-disable selector-max-class, selector-max-combinators */
.card:nth-of-type(1) > .card__thumbnail {
  background-color: #7c75ca;
}

.card:nth-of-type(2) > .card__thumbnail {
  background-color: #d88f39;
}

.card:nth-of-type(3) > .card__thumbnail {
  background-color: #5e8f4d;
}

.card:nth-of-type(4) > .card__thumbnail {
  background-color: #ca7599;
}

.card:nth-of-type(5) > .card__thumbnail {
  background-color: #4692d9;
}

.card:nth-of-type(6) > .card__thumbnail {
  background-color: #5e8f4d;
}
/* stylelint-enable selector-max-class, selector-max-combinators */

.footer {
  background-color: #0891b2;
  color: white;
}

.footer__content {
  padding-bottom: 3em;
}

.footer__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Playfair Display', system-ui, sans-serif;
  font-size: 2em;
}

.footer__icon {
  width: 2em;
}

.contact__row {
  display: flex;
  gap: 0.5em;
}

.footer__contact {
  margin: 1em 0;
  font-size: 0.8em;
}

.contact__icon {
  display: none;
  width: 1em;
}

.contact__text {
  word-break: break-all;
}

.footer__img {
  display: block;
  max-height: 700px;
}
